<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>SOUSA ÉS GRANDE</span></h1>

    <p class="lead">Deixem aí uma coisinha fofa para o Sousa recordar, ou então, vejam só a secção de merdas à toa que o Sousa diz :)</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false"><a class="alert-link" (click)="login()">Sign In</a><span></span></div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>
    </div>

    <p>Aceito doações em barras de ouro.</p>

    <p>
      <span>Já agora, tá ai o repo do projecto </span>
      <a href="https://github.com/snackk/furSousa" target="_blank" rel="noopener noreferrer">GitHub</a>
    </p>
  </div>
</div>
